<div class="container">
  <% # frozen_string_literal: true %>
  <%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">

    <%= f.input :title, label: "求人名(Job Name)"%>
    <%= f.input :address, label: "場所(Place)"%>
    <%= f.input :description ,label: "求人説明(Job Detail)"%>
    <p> タグカテゴリー付け<br> 句読点を入力することで複数のタグを付けることができます。
    <br>
    使用可能タグ一覧<br>
    <%@tags.each do |tag|%>
    <div class="tag2">
    <%=tag.tag_name%>||<%=tag.jobs.count%> 
    </div>
    <%end%>
    </p>
    タグ記入欄
    <%= f.text_field :tag_name,  value: @tag_list, :size=>"100px"%>
    <p></p>
    <br>
    <%= f.input :language, label: "求める言語",collection: [ "English", "Chinese", "French", "Korean", "Spanish"] %>
    <%= f.input :japanese, label: "必要とする日本語レベル(What level of Japanase needed for user)",collection: [ "N1", "N2", "N3" ,"N4", "N5"] %>
    <%= f.input :salary , label: "給料(Salary)" %>
    <%= f.input :status, label: "雇用形態",collection: [ "Full-time employee", "Contract employee", "part time job",] %>

  </div>
  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-primary"%>
  </div>
  <% end %>
</div>