<p id="notice"><%= notice %></p>


<div class="slider-area ">
  <div class="single-slider section-overly slider-height2 d-flex align-items-center jobAllPic">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Get your job</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
</div>

<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
  <div class="container">
    <div class="row">


      <!-- Left content -->
      <div class="col-xl-3 col-lg-3 col-md-4">
        <div class="row">
          <div class="col-12">
            <div class="small-section-tittle2 mb-45">
              <div class="ion"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="12px">
                  <path fill-rule="evenodd" fill="rgb(27, 207, 107)" d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                </svg>
              </div>
              <h4>Filter Jobs</h4>
            </div>
          </div>
        </div>

        <div class="job-category-listing mb-50">
          <%= search_form_for @ransack_jobs, as: :jobs_search, url: jobs_path do |f| %>

          <div class="single-listing">
            <div class="small-section-tittle2">
              <h4>Key word</h4>
              <%= f.search_field :description_cont, placeholder: '' %>
            </div>
          </div>
          <br>
          <div class="single-listing">
            <div class="small-section-tittle2">
              <h4>Job Type</h4>
              <%= f.select :status_cont, Job.status, include_blank: true %>
            </div>
          </div>
          <br>
          <!-- single two -->
          <div class="single-listing">
            <div class="small-section-tittle2">
              <h4>Job Location</h4>
              <%= f.search_field :address_cont, placeholder: 'prefecture' %>
            </div>
          </div>
          <br>
          <!-- single three -->
          <div class="single-listing">
            <!-- select-Categories start -->
            <div class="select-Categories pb-50">
              <div class="small-section-tittle2">
                <h4>Posted Within</h4>
              </div>


            </div>
            <!-- select-Categories End -->
          </div>
          <%= f.submit %>
          <%end%>
        </div>
      </div>



      <!-- Right content -->
      <div class="col-xl-9 col-lg-9 col-md-8">
        <!-- Featured_job_start -->
        <section class="featured-job-area">
          <div class="container">
            <!-- Count of Job list Start -->
            <div class="row">
              <div class="col-lg-12">
                <div class="count-job mb-35">
                  <span><%=@jobs.count%> Jobs found</span>
                </div>
              </div>
            </div>
            <!-- Count of Job list End -->

            <!-- single-job-content -->
            <% @jobs.each do |job| %>
            <div class="single-job-items mb-30">
              <div class="job-items">
                <div class="job-tittle job-tittle2">
                  <%= link_to job_path(job.id) do%>
                  <h4><%= job.title %></h4>
                  <% end %>
                  <ul>
                    <%if job.tags.any?%>
                    <% job.tags.each do |tag|%>
                    <p class="tag1"><%=tag.tag_name%></p>
                    <% end %>
                    <% end %>
                    <li><i class="fas fa-map-marker-alt"></i><%= job.address%></li>
                    <li><%= job.salary %></li>
                  </ul>
                </div>
              </div>
              <div class="items-link items-link2 f-right">
                <%= enrollment_button(current_user, job) %>
                <span><%= job.created_at.strftime('%Y/%m/%d %H:%M:%S')%></span>
              </div>
            </div>
            <% end%>
          </div>
          <%= raw(pagy_bootstrap_nav(@pagy)) %>
        </section>
        <!-- Featured_job_end -->
      </div>
    </div>
  </div>
</div>
<!-- Job List Area End -->
</main>