 <main>

   <!-- カテゴリー-->
   <div class="slider-area ">
     <div class="single-slider section-overly slider-height2 d-flex align-items-center">
       <div class="container">
         <div class="row">
           <div class="col-xl-12">
             <div class="hero-cap text-center">
               <h2>UI/UX Designer</h2>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- Hero Area End -->
   <!-- job post company Start -->
   <div class="job-post-company pt-120 pb-120">
     <div class="container">
       <div class="row justify-content-between">
         <!-- Left Content -->
         <div class="col-xl-7 col-lg-8">
           <!-- job single -->
           <div class="single-job-items mb-50">
             <div class="job-items">
               <div class="company-img company-img-details">
                 <a href="#"></a>
               </div>
               <div class="job-tittle">
                 <a href="#">
                   <h4><%=@job.title%></h4>
                 </a>
                 <ul>
                   <%if @job.tags.any?%>
                   <% @job_tags.each do |tag|%>
                   <p class="tag2"><%=tag.tag_name%></p>
                   <% end %>
                   <% end %>
                   <li><i class="fas fa-map-marker-alt"></i><%=@job.address%></li>
                   <li><%=@job.salary%></li>
                 </ul>
               </div>
             </div>
           </div>
           <!-- job single End -->

           <div class="job-post-details">
             <div class="post-details1 mb-50">
          
               <div class="small-section-tittle">
                 <h4>Job Description</h4>
               </div>
               <p><%=@job.description%></p>
             </div>
             <div class="post-details2  mb-50">
               <!-- Small Section Tittle -->
               <div class="small-section-tittle">
                 <h4>Required Japanses language level and other needed language</h4>
               </div>
               <ul>
                 <li>Japanese level <%=@job.japanese%></li>
                 <%if @job.language%>
                 <li><%=@job.language%>
                 <%end%>
               </ul>
             </div>
             <div class="post-details2  mb-50">
               <!-- Small Section Tittle -->
               <div class="small-section-tittle">
                 <h4>Education + Experience</h4>
               </div>
               <ul>
                 <!--<li>3 or more years of professional design experience</li>-->
                 <!--<li>Ecommerce website design experience</li>-->
                 <!--<li>Familiarity with mobile and web apps preferred</li>-->
                 <!--<li>Experience using Invision a plus</li>-->
                 <!--<li>Direct response email experience</li>-->
               </ul>
             </div>
           </div>

         </div>
         <div class="col-xl-4 col-lg-4">
           <div class="post-details3  mb-50">
             <div class="small-section-tittle">
               <h4>Job Overview</h4>
             </div>
             <ul>
               <li>Posted date : <span><%=@job.created_at.strftime('%Y/%m/%d %H:%M:%S')%></span></li>
               <li>Location : <span><%=@job.address%></span></li>
               <li>Vacancy : <span>02</span></li>
               <li>Job nature : <span><%=@job.status%></span></li>
               <li>Salary : <span><%=@job.salary%></span></li>
               <li>Application date : <span></span></li>
             </ul>
             <div class="apply-btn2">
               <% if current_user.has_role?(:user) %>
               <%= link_to "Apply", enrollments_path(job_id: @job.id, to_user_id: current_user.id, from_user_id: @job.user.id), method: :post  %>

               <% end %>
             </div>
           </div>

          <!--求人会社説明-->
           <div class="post-details4  mb-50">
             <div class="small-section-tittle">
               <h2>Company details</h2>
             </div>
             <p></p>
             <ul>
              <li>Company Name: <span> <%=@job.user.company%></span></li>
               <li>Name: <span> <%=@job.user.name%></span></li>
               <li>Web : <span> colorlib.com</span></li>
               <li>Email: <span><%=@job.user.email%></span></li>
             </ul>
           </div>

         </div>
       </div>
     </div>
   </div>
   <!-- job post company End -->

 </main>