 <div class="chat-room-show-page">
   <% if current_user.has_role?(:user) %>
   <nav class="navbar navbar-light chat-room__header">
     <%= link_to enrollments_path, class: "nav-item nav-link" do%>
     <i class="fas fa-chevron-left"></i>
     <% end %>
     <div class="chat-room__partner">
       <span class="chat-room__partner-name">
         <%= @user.name %>
       </span>
     </div>
   </nav>

   <div id='chat-messages'>
     <% @messages.each do |m| %>
     <% if m.is_user %>
     <div class="chat-message__current-user">
       <div class="chat-message__content main-color-bg">
         <%= m.content %>
       </div>
     </div>
     <% else %>
     <div class="chat-message__partner">
       <div class="chat-message__content">
         <%= m.content %>
       </div>

     </div>
     <% end %>
     <% end %>
   </div>

   <% elsif current_user.has_role?(:recruiter) %>
   <nav class="navbar navbar-light chat-room__header">
     <%= link_to enrollments_path, class: "nav-item nav-link" do%>
     <i class="fas fa-chevron-left"></i>
     <% end %>
     <div class="chat-room__partner">
       <span class="chat-room__partner-name">
         <%= @user.name %>
       </span>
     </div>
   </nav>

   <div class="chat-message">
     <% @messages.each do |m| %>
     <% if m.is_user %>
     <div class="chat-message__partner">
       <div class="chat-message__content">
         <%= m.content %>
       </div>
     </div>
     <% else %>
     <div class="chat-message__current-user">
       <div class="chat-message__content main-color-bg">
         <%= m.content %>
       </div>
     </div>
     <% end %>
     <% end %>
   </div>

   <% end %>

   <br>
   <%= form_for [@enrollment, @message], class:"chat-room__message-form" do |f| %>
   <%= f.text_field :content ,class:"text1"%>
   <%= f.submit "send" ,class:"btn1"%>
   <% end %>
 </div>