

<!--タグ一覧-->
<%
=begin%>
 <h1>Tag serch </h1>
<%= form_tag tags_path, method: :get do %>
<% @tag_list.each do |tag| %>
<div class="tag2">
  <%= link_to tag.tag_name, tags_path(tag_name: tag.id) ,class:"linktag"%>&nbsp;&nbsp;<%= tag.jobs.count%>
</div>
<% end %>

<div class="books-container">
  <% @jobs.each do |j| %>
  <div class="book">
    <%= j.title %>
    <% j.tags.each do |tag| %>
    <%= tag.tag_name %>
    <% end %>
  </div>
  <% end %>
</div>
<% end %> 
<%
=end%>

 <section class="featured-job-area ">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-tittle text-center">
           <h1>Tag serch </h1>
          </div>
        </div>
      </div>
      <p></p>

      <%= form_tag tags_path, method: :get do %>
      <% @tag_list.each do |tag| %>
      <div class="tag2">
      <%= link_to tag.tag_name, tags_path(tag_name: tag.id) ,class:"linktag"%>&nbsp;&nbsp;<%= tag.jobs.count%>
      </div>
      <% end %>
      <p></p>
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <!-- single-job-content -->
          <% @jobs.each do |j| %>
          <div class="single-job-items mb-30">
            <div class="job-items">
              <div class="company-img">
              </div>
              <div class="job-tittle">
                <%= link_to job_path(j.id) do%>
                  <h4><%= j.title %></h4>
                  <% end %>
                <ul>
                  <li><%=j.status%></li>
                  <li><i class="fas fa-map-marker-alt"></i><%=j.address%></li>
                  <li><%=j.salary%>yen/month</li>
                </ul>
              </div>
            </div>
             <div class="items-link items-link2 f-right">
                <%= enrollment_button(current_user, j) %>
                <span><%= j.created_at.strftime('%Y/%m/%d %H:%M:%S')%></span>
              </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <%end%>
  </section>
