

 <div class="header-area header-transparrent">
    <div class="headder-top header-sticky">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-2">
            <div class="logo">
              <%= link_to root_path do %>
              <%= image_tag "/images/logo/logo.png" %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-9 col-md-9">
            <div class="menu-wrapper">
              <div class="main-menu">
                <nav class="d-none d-lg-block">
                  <ul id="navigation">
                    <li class="spaceRight">Find jobs
                      <ul class="submenu">
                        <li><%= link_to "Find a Jobs", jobs_path %></li>
                        <li><%= link_to "Tag Reserch", tags_path %></li>
                      </ul>
                    </li>

                    <% if user_signed_in? %>
                    <li class="spaceRight">User menu
                      <ul class="submenu">
                        <li><%= link_to "Account edit", edit_user_path(current_user.id) %></li>

                        <% if current_user && current_user.has_role?(:recruiter) %>
                        <li><%= link_to "求人票作成", new_job_path %></li>
                        <li><%= link_to "求人管理", admins_path %>
                        <% end %>


                        <li><%= link_to "message boxs", enrollments_path %></li>

                      </ul>
                    </li>
                    <% end %>

                    <% if current_user && current_user.has_role?(:admin) %>
                    <li class="spaceRight">管理者用ページ
                      <ul class="submenu">
                        <li><%= link_to "利用者一覧", users_path %></li>

                      </ul>
                    </li>
                    <% end %>
                  </ul>
                </nav>
              </div>

              <!-- ログイン、ログアウト-->
              <div class="header-btn d-none f-right d-lg-block">
                <% if current_user %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete,class:"btn head-btn1" %>
                <% else %>
                <%= link_to "Log In", new_user_session_path, class:"btn head-btn1" %>
                <%= link_to "Sing Up", new_user_registration_path, class:"btn head-btn1" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div> 


